{
  "Склад_А": {
    "sensor_1_1": {
      "min": 2.0,
      "max": 8.0
    },
    "sensor_1_2": {
      "min": 2.0, 
      "max": 8.0
    },
    "sensor_1_3": {
      "min": 2.0,
      "max": 8.0
    }
  },
  "Склад_Б": {
    "sensor_2_1": {
      "min": -18.0,
      "max": -15.0
    },
    "sensor_2_2": {
      "min": -18.0,
      "max": -15.0
    }
  },
  "Офис": {
    "sensor_3_1": {
      "min": 18.0,
      "max": 25.0
    }
  },
  "KRR": {
    "4_1": {
      "min": 50.0,
      "max": 60.0
    },
    "4_3": {
      "min": 50.0,
      "max": 60.0
    }
  }
}